body {
    padding: 0;
    margin: 0;   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #AAA;
    background-color: #111;
}

h1 {
    font-size: 48px;
<<<<<<< HEAD
<<<<<<< HEAD
    color: turquoise;
=======
    color: tur;
>>>>>>> 28de1cdd85bc62a466effbb5316965b6d0a7349a
=======
    color: turquoise;
>>>>>>> 7c6ef6bd7c4cb9694431b0e5ec18cd48d46da2fe
    margin: 0;
}

a {
    text-decoration: none;
<<<<<<< HEAD
    color: aquamarine;
=======
    color: yellow;
>>>>>>> 28de1cdd85bc62a466effbb5316965b6d0a7349a
}

span,a:hover {
    color: #111;
    background-color: #EEE;
}

#container {
    border: 1px solid #AAA;
    background-color: #000;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    padding: 0 5% 0 5%;    
}

#container h1,span {
    font-variant: small-caps;
}

.meerdaneen {
    background-color: #AAA;
    background-color: lightsteelblue;
    width: 40%;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
}

.meerdaneen h1 {
    color: #EEE;
    font-size: 36px;
    margin: 0;
}