body {
    background-color: #000;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 9px;
    padding-left: 2%;
}

#breakdance {
    width: 800px;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    position: relative;
left: 800px;
}